# Ignore everything by default
*

# Keep this file
!.gitignore

# Allow specific top-level files
!CHANGELOG.md
!EULA-COMMERCIAL.md
!LICENSE-NONCOMMERCIAL.md
!README.md
!renderx-logo-dark.png

# Allow specific directories and their contents
!dist/
!dist/**


